<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHART</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    {% load static %}
</head>

<body>
    <div class="navbar">
        <div class="container">
            <div class="ms-auto">

                <div class="dropdown">
                    <button class="btn btn-info dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <strong>charts</strong>
                    </button>

                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'bar' %}">BAR</a></li>
                        <li><a class="dropdown-item" href="{% url 'pie'%}">PIE</a></li>
                        <li><a class="dropdown-item" href="{% url 'radar' %}">RADAR</a></li>
                        <li><a class="dropdown-item" href="{% url 'line' %}">LINE</a></li>

                    </ul>
                    <button class="btn btn-info dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <strong>crud</strong>
                    </button>

                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'bank_login' %}">bank</a></li>
                        <li><a class="dropdown-item" href="{% url 'trans_list'%}">banking</a></li>
                        <li><a class="dropdown-item" href="{% url 'biodata_login' %}">biodata</a></li>
                        <li><a class="dropdown-item" href="{% url 'bug_create' %}">budget</a></li>
                        <li><a class="dropdown-item" href="{% url 'register_login' %}">register</a></li>
                        <li><a class="dropdown-item" href="{% url 'register_login' %}">employee</a></li>


                    </ul>
                    <a class="btn btn-info" href="{% url 'table' %}">Pagination & DataTable</a>
                    <a class="btn btn-info" href="{% url 'table_views' %}">Edit Chart</a>
                    <a href="{% url 'base' %}">
                        <button type="button" class="btn btn-info">Create Chart</button>
                    </a>
                    <a class="btn btn-primary" href="{% url 'profile_table' %}">Profile</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container " style="background-color: rgb(192, 246, 246);">
        <div class="row">
            <div class="col-sm-6">
                <canvas id="chartDemo"></canvas>
            </div>
            <div class="col-sm-6">
                <canvas id="chatP"></canvas>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <canvas id="chatR"></canvas>
            </div>
            <div class="col-md-6">
                <canvas id="sChat"></canvas>
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'chat.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>

</html>