<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link href="https://cdn.datatables.net/v/dt/dt-3.0.2/datatables.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="header">
                    <h2 class=""><strong>Table Data</strong></Table>
                    </h2>
                </div>
                <div class="table table-hover">
                    <table class="table-bordered table-hover text-center" id="dataList">
                        <thead>
                            <tr>
                                <th>SALE ID</th>
                                <th>ALLOCATION</th>
                                <th>USED</th>
                                <th>AVIALABLE</th>
                                <th>MONTH</th>
                                <th>ACTION</th>
                            </tr>
                        </thead>
                        <tbody id="tableData">

                        </tbody>
                    </table>
                    <div class="modal fade" id="editAssetModal" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Edit Chat</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                </div>
                                <div class="modal-body">
                                    <input type="hidden" id="edit_id">
                                    <div class="mb-3">
                                        <label for="edit_sale">SALE ID</label>
                                        <input type="text" class="form-control" id="edit_sale">
                                    </div>
                                    <div class="mb-3">
                                        <label for="edit_allocation">ALLOCATION</label>
                                        <input type="text" class="form-control" id="edit_allocation">
                                    </div>
                                    <div class="mb-3">
                                        <label for="edit_used">USED</label>
                                        <input type="text" class="form-control" id="edit_used">
                                    </div>
                                    <div class="mb-3">
                                        <label for="edit_avialable">AVIALABLE</label>
                                        <input type="text" class="form-control" id="edit_avialable">
                                    </div>
                                    <div class="text-end">
                                        <button id="asset_update" type="button">update</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>


            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdn.datatables.net/v/dt/dt-3.0.2/datatables.min.js"></script>
<script src="{% static 'base.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>
<script src="{% static 'list.js' %}"></script>

</html>